<form
	action="/src/web/helpers/sendEmail.php"
	class="flex flex-col gap-4"
	method="POST"
>
	<div>
		<input name="email" type="email">
	</div>

	<div>
		<input name="name" type="text">
	</div>

	<div>
		<button type="submit">Send</button>
	</div>
</form>