{% extends "admin/blocks/layout.twig" %}

{% block content %}
	<div class="py-5 text-center">
		<div class="container d-flex flex-column align-items-center justify-content-center gap-4">
			<h1>Page not found</h1>
			<a class="btn btn-secondary" href="/admin">Home page</a>
		</div>
	</div>
{% endblock %}
