<!doctype html>
<html lang="en">
	{% include "web/blocks/head.twig" %}

	<body class="antialiased font-display">
		{% include "web/blocks/header" %}
		{% block content %}{% endblock %}
	</body>
</html>
