<div
	class="
		backdrop-blur
		bg-amber-400
		border-b
		h-16
		sticky
		top-0
		z-20
	"
>
	<div class="container">
		<div
			class="
				flex
				items-center
				justify-between
			"
		>
			{% include "logo.twig" %}
			{% include "menu.twig" %}
		</div>
	</div>
</div>