<!doctype html>
<html lang="en">
	{% include "admin/blocks/head.twig" %}

	<body>
		{% include "admin/blocks/header.twig" %}

		<main>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2">
						{% include "admin/blocks/sidebar.twig" %}
					</div>

					<div class="col-lg-10 pb-3 pt-3">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
