@theme {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -15px, 0);
      visibility: hidden;
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 15px, 0);
      visibility: hidden;
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }

  --animate-fadeInDown: fadeInDown 0.35s var(--default-transition-timing-function) 1 forwards;
  --animate-fadeInUp: fadeInUp 0.35s var(--default-transition-timing-function) 1 forwards;
}
